<form target="/login" method="POST" id="user-login" class="user-login form-important form-but-not-so-much" data-something="1" data-other="no"><h2>Login</h2><input name="user" type="text"><input name="password" type="password"><input type="submit" style="font-weight:bold;font-family:monospace"></form>
